{% extends "base.html" %}
{% load static %}

{% block title %}Anime Home{% endblock %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            {% for anime in featured_animes %}
                <div class="hero__items set-bg set-bg-overlay" data-setbg="{{ anime.banner_image }}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">{{ anime.genres.all|first }}</div>
                                <h2>{{ anime.title }}</h2>
                                <p>{{ anime.description|slice:45 }}...</p>
                                <a href="{% url 'anime_stream' anime.id 1%}"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Trending Now</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime_list' %}?discover=trending" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in trending_animes %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ anime.thumbnail.large }}">
                                        <div class="ep">{{ anime.episodes.count }} / {% if anime.episodes_count is None %} ? {% else %} {{ anime.episodes_count }} {% endif %}</div>
                                        <div class="comment"><i
                                                class="fa fa-comments"></i> {{ anime.comments.count }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for genre in anime.genres.all %}
                                                <li>{{ genre.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={% url 'anime_detail' anime.id %}>{{ anime.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Popular Shows</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime_list' %}?discover=popular" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in popular_animes %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ anime.thumbnail.large }}">
                                        <div class="ep">{{ anime.episodes.count }} / {% if anime.episodes_count is None %} ? {% else %} {{ anime.episodes_count }} {% endif %}</div>
                                        <div class="comment"><i
                                                class="fa fa-comments"></i> {{ anime.comments.count }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for genre in anime.genres.all %}
                                                <li>{{ genre.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={% url 'anime_detail' anime.id %}>{{ anime.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Recently Added Shows</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime_list' %}?discover=recent" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in recent_animes %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ anime.thumbnail.large }}">
                                        <div class="ep">{{ anime.episodes.count }} / {% if anime.episodes_count is None %} ? {% else %} {{ anime.episodes_count }} {% endif %}</div>
                                        <div class="comment"><i
                                                class="fa fa-comments"></i> {{ anime.comments.count }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for genre in anime.genres.all %}
                                                <li>{{ genre.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={% url 'anime_detail' anime.id %}>{{ anime.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="live__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Live Action</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime_list' %}?discover=action" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in action_animes %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ anime.thumbnail.large }}">
                                        <div class="ep">{{ anime.episodes.count }} / {% if anime.episodes_count is None %} ? {% else %} {{ anime.episodes_count }} {% endif %}</div>
                                        <div class="comment"><i
                                                class="fa fa-comments"></i> {{ anime.comments.count }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for genre in anime.genres.all %}
                                                <li>{{ genre.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={% url 'anime_detail' anime.id %}>{{ anime.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Day</li>
                            <li data-filter=".week">Week</li>
                            <li data-filter=".month">Month</li>
                            <li data-filter=".years">Years</li>
                        </ul>
                        <div class="filter__gallery">
                            <div class="product__sidebar__view__item set-bg mix day years"
                                 data-setbg="{% static 'img/sidebar/tv-1.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix month week"
                                 data-setbg="{% static 'img/sidebar/tv-2.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix week years"
                                 data-setbg="{% static 'img/sidebar/tv-3.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix years month"
                                 data-setbg="{% static 'img/sidebar/tv-4.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix day"
                                 data-setbg="{% static 'img/sidebar/tv-5.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate stay night unlimited blade works</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>New Comment</h5>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="{% static 'img/sidebar/comment-1.jpg' %}" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="{% static 'img/sidebar/comment-2.jpg' %}" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">Shirogane Tamashii hen Kouhan sen</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="{% static 'img/sidebar/comment-3.jpg' %}" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">Kizumonogatari III: Reiket su-hen</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="{% static 'img/sidebar/comment-4.jpg' %}" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">Monogatari Series: Second Season</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}
